# Backend ejecutado dentro de Docker Compose.
# En este modo los hosts son los nombres de servicios del compose.
PORT=3000
NODE_ENV=development

DB_HOST=sqlserver
DB_PORT=1433
DB_NAME=master
DB_USER=sa
DB_PASS=tu_password_sql

RABBITMQ_HOST=amqp://guest:guest@rabbitmq:5672
JWT=tu_secreto_jwt
CORS_ORIGIN=*

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=tu_correo
SMTP_PASS=tu_app_password
GOOGLE_CLIENT_IDS=311323264659-ngt0g68ocej0dghl0kdj14hbpul0cf9b.apps.googleusercontent.com
